img {
    max-width: 100%;
    height: auto;
}

.rotated {
    transform: rotate(90deg);
    display: inline-block;
  }

*,
*:before,
*:after {
  box-sizing: border-box;
}

.majuscule {
    text-transform: uppercase;
}