img {
    max-width: 100%;
    height: auto;
}

.rotated {
    transform: rotate(90deg);
    display: inline-block;
  }

*,
*:before,
*:after {
  box-sizing: border-box;
}

.majuscule {
    text-transform: uppercase;
}

.list_footer {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: var(--space3x);
  padding-right: var(--space3x);
}

.noscroll,
.noscroll body {
  overflow: hidden;
}