.image-container {
    width: 314px; /* Largeur de votre image */
    height: 402px; /* Hauteur de votre image */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-with-gradient {
    width: 100%;
    height: 100%;
    display: block;
    /* Création d'un masque en dégradé pour le bas de l'image */
    -webkit-mask-image: linear-gradient(to top, transparent, black);
    mask-image: linear-gradient(to top, transparent, black);
  }

  .container_body {
     width: 100%;
     height: auto;
     padding-top: 80px;
  }

  .article_title {
    font-size: var(--heading-1);
    font-family: var(--font-website);
    font-weight: 500;
    color: var(--black);
    text-align: center;
  }

  .custom-line {
    border: none; /* Supprime la bordure par défaut */
    background-color: black; /* Couleur de fond de la ligne */
    height: 3px; /* Épaisseur de la ligne */
    width: 30%; /* Largeur de la ligne en pourcentage de l'élément conteneur */
    margin: 0 auto; /* Centrage de la ligne */
  }

  .paragraphe_padding {
    padding-top: var(--space3x);
    padding-bottom: var(--space3x);
  }

  .article_text {
    font-family: var(--font-website);
    font-size: var(--text);
    color: var(--black);
    font-weight: 400;
    padding-left: var(--space3x);
    padding-right: var(--space3x);
  }

  .title_sub {
    font-size: var(--heading-3);
    font-family: var(--font-website);
    font-weight: 600;
    color: var(--black);
    text-align: center;
  }